<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>XBB</title>
=======
    <title>Qiye</title>
>>>>>>> a82a824e011bd455532870340f2a7e3f8f67af7c
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <%= yield %>
=======
  	<%= render "layouts/menu"%>
  	<div class="container" id="container">
    <%= yield %>
    </div>
>>>>>>> a82a824e011bd455532870340f2a7e3f8f67af7c
  </body>
</html>
